.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/
/src/test/kotlin/example/com/ApplicationTest.kt
/gradle/wrapper/gradle-wrapper.jar
/gradlew
/gradlew.bat
/pars-pa/1/img/img_1724107824084
/pars-pa/1/img/img_1724107830411
/pars-pa/1/img/img_1724107835857
/pars-pa/1/img/img_1724107841166
/pars-pa/1/img/img_1724108016069
/pars-pa/1/img/img_1724108021924
/pars-pa/1/img/img_1724108028231
/pars-pa/1/img/img_1724108034260
/pars-pa/1/img/img_1724108217855
/pars-pa/1/img/img_1724108222257
/pars-pa/1/img/img_1724108226492
/pars-pa/1/img/img_1724108230186
/pars-pa/1/avatar
/.kotlin/errors/errors-1724105173579.log
